@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-jost;
  }

  p {
    color: gray;
  }
}

@layer components {
  .btn {
    @apply relative z-10 inline-flex max-h-15 items-center justify-center overflow-hidden rounded-[6px] px-7.5 py-2.5 transition-all duration-500 hover:text-white lg:py-5;
  }
  .btn::after {
    @apply absolute left-0 top-0 -z-10 h-full w-0 rounded-[6px] bg-secondary transition-all duration-500 content-[''] hover:w-full;
  }
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}
